body{
    background-color:darkgoldenrod;
} 

nav{
    width: 100%;
}
tr{
    width: 100%;
    margin-bottom: 1em;
}
th{
    font-size: 3em;
}
td{
    font-size: 1em;
    
}
table{
    margin: 3em;
    padding: 1em;
    width: 90%;
    background-color:gray;
}


.fr{
    float:right;
}
.error{
    color:red;
}
.delete{
    width: 100%;
}
.hid{
    visibility: hidden;
}

.right{
    text-align:right;    
}

.left{
    text-align:left;
}